# C++ (https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore)
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Qt (https://github.com/github/gitignore/blob/master/Qt.gitignore)
# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*



# CMake (https://github.com/github/gitignore/blob/master/CMake.gitignore)
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt



# KDevelop (https://github.com/github/gitignore/blob/master/Global/KDevelop4.gitignore)
*.kdev4
.kdev4/

